<!-- <div class="gj-slider-container">
  <div class="gj-slider">
    <div
      class="gj-slide"
      *ngFor="let img of images; let i = index"
      [class.active]="i === currentIndex"
    >
      <img [src]="img.src" [alt]="img.alt" />
    </div>

    <button class="gj-nav prev" (click)="prevSlide()">❮</button>
    <button class="gj-nav next" (click)="nextSlide()">❯</button>
  </div>
</div> -->
<!-- <div class="gj-slider-container">
  <div class="gj-slider">
    <div
      class="gj-slide"
      *ngFor="let img of images; let i = index"
      [class.active]="i === currentIndex"
    >
      <img [src]="img.src" [alt]="img.alt" />
    </div>

    <button class="gj-nav prev" (click)="prevSlide()">❮</button>
    <button class="gj-nav next" (click)="nextSlide()">❯</button>
  </div>
</div> -->

<div class="gj-pdf-section">
  <h2>SMARANIKA</h2>

  <iframe
    class="gj-pdf-viewer"
    src="smaranika.pdf"
  >
  </iframe>

  <a href="smaranika.pdf" download class="gj-pdf-download">
    Download Brochure (PDF)
  </a>
</div>

